<% var isIndex = page.path === 'index.html' %>
<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%- page.title ? page.title + ' — ' : '' %>Vue.js</title>
        <meta charset="utf-8">
        <meta name="description" content="<%- theme.site_description %>">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <link rel="alternate" hreflang="x-default" href="https://vuejs.org/<%- page.path %>">
        <link rel="alternate" hreflang="zh" href="https://cn.vuejs.org/<%- page.path %>">
        <link rel="alternate" hreflang="ja" href="https://jp.vuejs.org/<%- page.path %>">
        <link rel="alternate" hreflang="ru" href="https://ru.vuejs.org/<%- page.path %>">
        <link rel="alternate" hreflang="ko" href="https://kr.vuejs.org/<%- page.path %>">
        <link rel="alternate" hreflang="pt-BR" href="https://br.vuejs.org/<%- page.path %>">
        <link rel="alternate" hreflang="fr" href="https://fr.vuejs.org/<%- page.path %>">

        <meta property="og:type" content="article">
        <meta property="og:title" content="<%- page.title ? page.title + ' — ' : '' %>Vue.js">
        <meta property="og:description" content="<%- theme.site_description %>">
        <meta property="og:image" content="https://<%- theme.root_domain %>/<%- url_for("/images/logo.png") %>">

        <meta name="twitter:card" content="summary">
        <meta name="twitter:title" content="<%- page.title ? page.title + ' — ' : '' %>Vue.js">
        <meta name="twitter:description" content="<%- theme.site_description %>">
        <meta name="twitter:image" content="https://<%- theme.root_domain %>/images/logo.png">

        <link rel="apple-touch-icon" sizes="57x57" href="<%- url_for("/images/icons/apple-icon-57x57.png") %>">
        <link rel="apple-touch-icon" sizes="60x60" href="<%- url_for("/images/icons/apple-icon-60x60.png") %>">
        <link rel="apple-touch-icon" sizes="72x72" href="<%- url_for("/images/icons/apple-icon-72x72.png") %>">
        <link rel="apple-touch-icon" sizes="76x76" href="<%- url_for("/images/icons/apple-icon-76x76.png") %>">
        <link rel="apple-touch-icon" sizes="114x114" href="<%- url_for("/images/icons/apple-icon-114x114.png") %>">
        <link rel="apple-touch-icon" sizes="120x120" href="<%- url_for("/images/icons/apple-icon-120x120.png") %>">
        <link rel="apple-touch-icon" sizes="144x144" href="<%- url_for("/images/icons/apple-icon-144x144.png") %>">
        <link rel="apple-touch-icon" sizes="152x152" href="<%- url_for("/images/icons/apple-icon-152x152.png") %>">
        <link rel="apple-touch-icon" sizes="180x180" href="<%- url_for("/images/icons/apple-icon-180x180.png") %>">
        <link rel="icon" type="image/png" sizes="192x192"  href="<%- url_for("/images/icons/android-icon-192x192.png") %>">
        <link rel="icon" type="image/png" sizes="32x32" href="<%- url_for("/images/icons/favicon-32x32.png") %>">
        <link rel="icon" type="image/png" sizes="96x96" href="<%- url_for("/images/icons/favicon-96x96.png") %>">
        <link rel="icon" type="image/png" sizes="16x16" href="<%- url_for("/images/icons/favicon-16x16.png") %>">
        <meta name="msapplication-TileImage" content="/images/icons/ms-icon-144x144.png">
        <link rel="icon" href="<%- url_for("/images/logo.png") %>" type="image/png">

        <meta name="msapplication-TileColor" content="#4fc08d">
        <meta name="theme-color" content="#4fc08d">

        <meta name="msapplication-config" content="browserconfig.xml">
        <link rel="manifest" href="/manifest.json">
        <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono' rel='stylesheet' type='text/css'>
        <link href='//fonts.googleapis.com/css?family=Dosis:500&text=Vue.js' rel='stylesheet' type='text/css'>

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- main page styles -->
        <%- css(isIndex ? 'css/index' : 'css/page') %>

        <!-- this needs to be loaded before guide's inline scripts -->
        <script src="<%- url_for("/js/vue.js") %>" defer></script>
        <script>window.PAGE_TYPE = "<%- page.type %>"</script>

        <!-- ga -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', '<%- theme.google_analytics %>', '<%- theme.root_domain %>');
          ga('send', 'pageview');
        </script>
    </head>
    <body class="<%- isIndex ? '' : 'docs' -%>">
        <div id="mobile-bar" <%- isIndex ? 'class="top"' : '' %>>
            <a class="menu-button"></a>
            <a class="logo" href="/"></a>
        </div>
        <%- partial('partials/header') %>
        <% if (!isIndex) { %>
            <div id="main" class="fix-sidebar">
                <% if (page.blog_index) { %>
                    <%- partial('partials/blog') %>
                <% } else { %>
                    <%- body %>
                <% } %>
            </div>
            <script src="<%- url_for("/js/smooth-scroll.min.js") %>" defer></script>
        <% } else { %>
            <%- body %>
        <% } %>

        <!-- main custom script for sidebars, version selects etc. -->
        <script src="<%- url_for("/js/css.escape.js") %>" defer></script>
        <script src="<%- url_for("/js/common.js") %>" defer></script>

        <!-- search -->
        <link href="//cdn.jsdelivr.net/docsearch.js/1/docsearch.min.css" rel='stylesheet' type='text/css'>
        <%- css('css/search') %>
        <script src="//cdn.jsdelivr.net/docsearch.js/1/docsearch.min.js" defer></script>
        <!-- fastclick -->
        <script src="//cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js" defer></script>
        <script>
            !function(t,e){"use strict";"function"==typeof define&&define.amd?define([],e):"object"==typeof exports?module.exports=e():t.FontFaceOnload=e()}(this,function(){"use strict";var t={tolerance:2,delay:100,glyphs:"",success:function(){},error:function(){},timeout:5e3,weight:"400",style:"normal",window:window},e=["display:block","position:absolute","top:-999px","left:-999px","font-size:48px","width:auto","height:auto","line-height:normal","margin:0","padding:0","font-variant:normal","white-space:nowrap"],i='<div style="%s" aria-hidden="true">AxmTYklsjo190QW</div>',n=function(){this.fontFamily="",this.appended=!1,this.serif=void 0,this.sansSerif=void 0,this.parent=void 0,this.options={}};n.prototype.getMeasurements=function(){return{sansSerif:{width:this.sansSerif.offsetWidth,height:this.sansSerif.offsetHeight},serif:{width:this.serif.offsetWidth,height:this.serif.offsetHeight}}},n.prototype.load=function(){function t(t){return e.concat(["font-weight:"+d.weight,"font-style:"+d.style]).concat("font-family:"+t).join(";")}function n(t,e,i){return Math.abs(t.width-e.offsetWidth)>i||Math.abs(t.height-e.offsetHeight)>i}function o(){return(new Date).getTime()-r.getTime()>d.timeout}var s,r=new Date,a=this,f=a.serif,c=a.sansSerif,h=a.parent,l=a.appended,d=a.options,p=d.reference,u=i.replace(/\%s/,t("sans-serif")),m=i.replace(/\%s/,t("serif"));h||(h=a.parent=d.window.document.createElement("div")),h.innerHTML=u+m,c=a.sansSerif=h.firstChild,f=a.serif=c.nextSibling,d.glyphs&&(c.innerHTML+=d.glyphs,f.innerHTML+=d.glyphs),function t(){p||(p=d.window.document.body),!l&&p&&(p.appendChild(h),l=a.appended=!0,s=a.getMeasurements(),c.style.fontFamily=a.fontFamily+", sans-serif",f.style.fontFamily=a.fontFamily+", serif"),l&&s&&(n(s.sansSerif,c,d.tolerance)||n(s.serif,f,d.tolerance))?d.success():o()?d.error():!l&&"requestAnimationFrame"in d.window?d.window.requestAnimationFrame(t):d.window.setTimeout(t,d.delay)}()},n.prototype.cleanFamilyName=function(t){return t.replace(/[\'\"]/g,"").toLowerCase()},n.prototype.cleanWeight=function(t){return""+({normal:"400",bold:"700"}[t]||t)},n.prototype.checkFontFaces=function(t){var e=this;e.options.window.document.fonts.forEach(function(i){e.cleanFamilyName(i.family)===e.cleanFamilyName(e.fontFamily)&&e.cleanWeight(i.weight)===e.cleanWeight(e.options.weight)&&i.style===e.options.style&&i.load().then(function(){e.options.success(i),e.options.window.clearTimeout(t)})})},n.prototype.init=function(e,i){var n;for(var o in t)i.hasOwnProperty(o)||(i[o]=t[o]);this.options=i,this.fontFamily=e,!i.glyphs&&"fonts"in i.window.document?(i.timeout&&(n=i.window.setTimeout(function(){i.error()},i.timeout)),this.checkFontFaces(n)):this.load()};return function(t,e){var i=new n;return i.init(t,e),i}});
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                var docsearchInit = function() {
                    [
                    '#search-query-nav',
                    '#search-query-sidebar',
                    '#search-query-menu'
                    ].forEach(function (selector) {
                        if (!document.querySelector(selector)) return;
                        // search index defaults to v2
                        var match = window.location.pathname.match(/^\/(v\d+)/);
                        var version = match ? match[1] : 'v2';
                        docsearch({
                            appId: 'BH4D9OD16A',
                            apiKey: '85cc3221c9f23bfbaa4e3913dd7625ea',
                            indexName: 'vuejs',
                            inputSelector: selector,
                            algoliaOptions: { facetFilters: ["version:" + version] }
                        });
                    });
                };
                docsearchInit();
                FastClick.attach(document.body);
            }, false);
        </script>
        <script src="https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js"></script>
        <script>
            WebFont.load({
                google: {
                    families: ['Source+Sans+Pro:300,400,600|Roboto Mono', 'Dosis:500&text=Vue.js']
                }
            });
        </script>
    </body>
</html>
